
.tree-branch.site{
    background-color:red;
}
.tree-branch.complex{
    background-color:orange;
}
.tree-branch.facility{
    background-color:yellow;
}
.tree-branch.equipment{
    background-color:green;
}
.tree-branch.detail{
    background-color:blue;
}
