//Color Pallette//
$MainBGColor: #658e9c;
$SecondaryColor: #EA9010;
$AccentColor: #343633;
$WhiteText: #edf2f4;
$DarkText: #001514;
//---------------//

//Fonts//
$MainFont:'Open Sans', sans-serif;
$ColorfulFont:'Permanent Marker', cursive;
$AccentFont:'Orbitron', sans-serif;
//-----//
